@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example: src/index.css */
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.black-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
